.overlay-content {
    position: absolute;
    bottom:0;
    /* top:90.5vh; */
    width:100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    /* padding-bottom:78px;  */
  }
  
  
  
  
  
  
  